
.header {
    background-color: #004d00;
    color: white;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.header h1 {
    margin: 0;
}

.nav {
    display: flex;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    
}
.white{
  display: flex;
  padding: 2rem;
  background-color: #fff;
  align-items: center; 
      justify-content: space-between;

}

.white h1 {
  color: black;
  margin-bottom: 1rem;
}

.white-img img {
  width:50% ;
  height: auto;
}

.btn {
    background-color: #004d00;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.green{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #004d00;
    color: white;
}
green-img img {
  max-width: 100%;
  height: 535px;
  width:657px;
  
}
.footer {
    text-align: center;
    background-color: #004d00;
    color: white;
    padding: 1rem 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}
