
.header {
    background-color: #004d00;
    color: white;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header h1 {
    margin: 0;
}

.nav {
    display: flex;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}
